body{
  font-family: Arail, sans-serif;
}
/* Formatting search box */
.search-box{
  width: 300px;
  position: relative;
  display: inline-block;
  font-size: 14px;
}
.search-box input[type="text"]{
  height: 32px;
  padding: 5px 10px;
  border: 1px solid #CCCCCC;
  font-size: 14px;
}
.result{
  position: absolute;        
  z-index: 999;
  top: 100%;
  left: 0;
}
.search-box input[type="text"], .result{
  width: 100%;
  box-sizing: border-box;
}
/* Formatting result items */
.result p{
  margin: 0;
  padding: 7px 10px;
  border: 1px solid #CCCCCC;
  border-top: none;
  cursor: pointer;
}
.result p:hover{
  background: #f2f2f2;
}

table, th, tr, td{
  border: 1px solid black;
  border-collapse: collapse;
}

.navbar-margin-bot {
  margin-bottom: 1rem;
  background-color: #b8daff;
}

.producten {
  width: 18%;
  margin: 0;
  display: inline-block;
}

#producten{
  margin: 0 1rem 1rem 0;
}

.product-price {
  margin-left: 1rem;
  display: inline-block;
  color: darkorange;
  font-weight: bold;
}

.foto-max {
  width: border-box;
  height: auto;
}

.card-tekst {
  display: inline-block;
}

.koop-knop {
  bottom: 0px;
  display: inline-block;
}

#container-producten {
  width: 80%;

}

/* .card-body-text {
  /*height: auto%;*/
  /*position: relative;
} */

#card-body {
  display: inherit;
  margin-right: 0px;
  margin-left: 0px;
}

.logo {
    height: 40px;
    width: auto;
}

.column1{
  width: 50%;
  float: left;
}

.column2{
  margin-left: 65px !important;
  width: 30%;
  float: left;
}

.borderimage{
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: 20px;
}


.title{
  font-weight: bold;
  font-size: 30px;
}

.prijs{
  font-weight: bold;
  font-size: 20px;
}

.voldoendevoorraad{
  color: limegreen;
  font-weight: bold;
}

.beperktevoorraad{
  color: orange;
  font-weight: bold;
}

.geenvoorraad{
  color: red;
  font-weight: bold;
}

.shopcartbutton{
  background-color: limegreen;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: .30rem !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}
.floatmidcustom {
  float: middle !important;
}
